<%-include('partials/header')%>
<%-include('partials/navbar')%>

<h1>DataChart</h1>

<div>
    <canvas height="400" width="400" id="canvas"></canvas>
</div>



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js">
</script>
<script type="text/javascript" src="/js/custom.js">
</script>
<%-include('partials/header')%>
